defaults: &default_docker
  docker:
    - image: circleci/node:13.8.0

version: 2.1

commands:
  run_on_fail:
    steps:
      - run:
          name: only run when failed
          command: echo running because previous step fail
          when: on_fail

jobs:
  build_frontend:
    # docker:
    #   - image: circleci/node:13.8.0
    <<: *default_docker
    steps:
      - checkout
      - run: npm i
      - save_cache:
          key: 'npm-package'
          paths:
           - /src/node_modules
      - run: exit 0
      - run: ls -la 
      - run_on_fail

  lint_frontend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - restore_cache:
          keys:
           - 'npm-package'
      - run: npm i
      - run: npm run lint
      - run_on_fail

  audit_frontend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run: npm audit
      - run_on_fail

  create_infrastructure: 
      docker:
        - image: amazon/aws-cli
      steps:
        - checkout
        - run: ls -la
        - run:
            name: Create Cloudformation Stack
            command: |
              aws cloudformation deploy \
                --template-file template.yml \
                --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5} \
                --region us-east-1
        - run:
            name: Save Created IP Address to Inventory
            command: |
              aws ec2 describe-instances \
                --query 'Reservations[*].Instances[*]' \
                --output text >> inventory
  preview_folder_inventory_file: 
      docker:
        - image: amazon/aws-cli
      steps:
        - checkout
        - run: ls -la
        - run: cat inventory


workflows:
  welcome:
    jobs:
      - build_frontend
      - lint_frontend:
          requires:
            - build_frontend
      - audit_frontend:
          requires:
            - lint_frontend
      - create_infrastructure: 
          requires:
            - lint_frontend
      - preview_folder_inventory_file: 
          requires: 
            - create_infrastructure