# Setting default value to use across all
# default: &default_docker
#   docker: - image: circleci/node:13.8.0

defaults: &default_docker
  docker:
    - image: docker:18.01.0-ce-git

version: 2.1

jobs:
  build_frontend:
    # docker:
    #   - image: circleci/node:13.8.0
    <<: *default_docker
    steps:
      - checkout
      - run: npm i
      - save_cache:
          key: 'npm-package'
          paths:
           - /src/node_modules
      - run: exit 0
      - run: ls -la 

  lint_frontend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - restore_cache:
          keys:
           - 'npm-package'
      - run: npm i
      - run: npm run lint

  audit_frontend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run: npm audit
 

workflows:
  welcome:
    jobs:
      - build_frontend
      - lint_frontend:
          requires:
            - build_frontend
      - audit_frontend:
          requires:
            - lint_frontend